@charset "UTF-8";
@import "variables";



nav.navbar .bottombar .navbar-brand img {
    // filter: none;
}
nav.navbar.nav-active .bottombar .navbar-brand img {
    // filter: none;
}
.owl-item .slide-1 .slide-itemss .container > .row:before {
    content: '';
    position: absolute;
    top: 0;
    left: -120px;
    height: 100vh;
    width: 164px;
    background: url(https://jitendrakumar0.github.io/festival-decor-for-img/assets/img/RakshaBandhan/mix.png);
    background-size: 178px;
    background-repeat: no-repeat;
}
.owl-item .slide-1 .slide-itemss .container > .row:after {
    content: '';
    position: absolute;
    top: 0;
    right: -116px;
    height: 100vh;
    width: 127px;
    background: url(https://jitendrakumar0.github.io/festival-decor-for-img/assets/img/RakshaBandhan/yellow-gradient-rakhi.png);
    background-size: 127px;
    background-repeat: no-repeat;
}


// Small devices (landscape phones, 576px and up)
@mixin festival-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin festival-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin festival-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin festival-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin festival-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin festival-mixin-max-xs() {
    .owl-item .slide-1 .slide-itemss .container > .row:before {
        display: none;
    }
    .owl-item .slide-1 .slide-itemss .container > .row:after {
        display: none;
    }
}
// Small devices (landscape phones, less than 768px)
@mixin festival-mixin-max-sm() {
    .owl-item .slide-1 .slide-itemss .container > .row:before {
        display: none;
    }
    .owl-item .slide-1 .slide-itemss .container > .row:after {
        display: none;
    }
}
// Medium devices (tablets, less than 992px)
@mixin festival-mixin-max-md() {
    .owl-item .slide-1 .slide-itemss .container > .row:before {
        left: 8%;
        top: -9px;
        width: 80px;
        background-size: 83px;
    }
    .owl-item .slide-1 .slide-itemss .container > .row:after {
        right: 9%;
        top: -9px;
        width: 49px;
        background-size: 51px;
    }
}
// Large devices (desktops, less than 1200px)
@mixin festival-mixin-max-lg() {
    .owl-item .slide-1 .slide-itemss .container > .row:before {
        left: -120px;
        width: 164px;
        top: 0px;
        background-size: 178px;
    }
    .owl-item .slide-1 .slide-itemss .container > .row:after {
        right: -116px;
        width: 127px;
        top: 0px;
        background-size: 127px;
    }
}
// X-Large devices (large desktops, less than 1400px)
@mixin festival-mixin-max-xl() {
}









// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    @include festival-mixin-min-sm();
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    @include festival-mixin-min-md();
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    @include festival-mixin-min-lg();
  }
  
  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    @include festival-mixin-min-xl();
  }
  
  // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {
    @include festival-mixin-min-xxl();
  }
  
  // X-Large devices (large desktops, less than 1400px)
  @media (max-width: 1399.98px) {
    @include festival-mixin-max-xl();
  }
  
  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    @include festival-mixin-max-lg();
  }
  
  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    @include festival-mixin-max-md();
  }
  
  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    @include festival-mixin-max-sm();
  }
  
  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    @include festival-mixin-max-xs();
  }
  
  // XX-Large devices (larger desktops)
  // No media query since the xxl breakpoint has no upper bound on its width
  